.main-box {
  display: flex;
  justify-content: center;
}

.btn {
  height: 200px;
  width: 200px;
  border: 8px solid black;
  border-radius: 25px;
  margin: 2rem;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.red {
  background-color: red;
}

.green {
  background-color: rgb(22, 214, 22);
}
.blue {
  background-color: rgb(17, 152, 201);
}

.yellow {
  background-color: yellow;
}

.flash {
  background-color: white;
}

.userflash {
  background-color: green;
}
